# Django
*.log
local_settings.py
# db.sqlite3 (Tạm thời mở ra để đưa admin lên Vercel)
db.sqlite3-journal
media/
__pycache__/
*.py[cod]
*$py.class

# Google Sheets / API
credentials.json

# Environment
.env
.venv/
env/
venv/
ENV/
